@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}
#active-nav{
    background: #5e72f181;
    margin-left: -15px;
    padding: 5px 15px;
    border-radius: 4px;
}
#active-nav > svg{
    color: rgb(12, 15, 184);
}
.btn {
    @apply  ml-auto mr-auto bg-blue-700 text-white rounded-sm 
}
.user-card{
    @apply bg-white mt-5 flex flex-col gap-1 p-5 items-center text-sky-950 shadow-xl rounded-xl
}
.product-input{
    @apply border border-gray-300 rounded-sm mb-3 py-1 px-3 outline-none focus:border-gray-400 text-sm text-black font-medium
}
.upload-btn{
    @apply relative flex flex-col justify-center items-center w-28 h-28 border font-semibold text-sm bg-white cursor-pointer border-blue-700 text-blue-700 rounded-md
}
.dropdown{
    @apply h-9 w-full py-1 px-2 border border-black/20 rounded-md outline-none 
}
.btn-2{
    @apply flex gap-1 items-center mr-auto border p-2 bg-white
}
.btn-3{
    @apply py-2 px-4  font-semibold
}
.item{
    @apply flex items-center list-none h-8 cursor-pointer transition px-3 rounded-lg hover:bg-slate-100
}
